version: "3"
services: 
  app:
    restart: always # For production
    build: .
    volumes: 
      - ".:/app"
    container_name: node_test
    image: node_test
    depends_on:
      - postgres      
    command: 
      [
        "sh",
        "-c",
        "ls && npm install && npm run dev",
      ]
    environment:
      - "PORT=3030" #change environment variable for production
    ports:
      - "3030:3030" #change Port fo production such as 3030
  postgres:
    container_name: postgres
    image: postgres:9.5
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123
    ports: 
      - "5432:5432"
    volumes:
      - ./tmp/db:/var/lib/postgresql/data